{% extends 'manage_template.html' %}
{% block info_mg %}
    active
{% endblock info_mg %}

{% block content1 %}
<style>
    .form-column-loca{
        margin: 1.5%;
        position:absolute; top:12.4%; z-index:11;
        left: 70%;
    }
    .form-column-header{
        margin-top: 1%;
         }
    .form-column-pic{
        width: 90px;
        height: 150px;
        border: solid;
        background-color: white;
        border-color: #989898;
    }
</style>


    <div id="dir">
    <div class="col-lg-2 col-md-3" style="height: auto;">
        <div class="list-group">
            <center>
                <a href="/teacher_manage/tch_edit/" class="{% block tch_add %}list-group-item{% endblock tch_add %}" id="tch_edit" style="font-weight:bold;">增 加 教 师</a>
                <a href="/teacher_manage/teacher_list/" class="{% block tch_list %}list-group-item{% endblock tch_list %}" id="tch_list" style="font-weight:bold;">教 师 列 表</a>
                <a href="/student_manage/stu_edit/" class="{% block stu_add %}list-group-item{% endblock stu_add %}" id="stu_edit" style="font-weight:bold;">增 加 学 生</a>
                <a href="/student_manage/stu_list/" class="{% block stu_list %}list-group-item{% endblock stu_list %}" id="stu_list" style="font-weight:bold;">学 生 列 表</a>
            </center>
        </div>
    </div>
    </div>
    {% block content2 %}

        {% endblock content2 %}
<script rel="stylesheet" type="text/javascript" src="{% static 'js/team_info.js'%}"></script>
<script type="text/javascript" src="{% static 'js/regex.js' %}"></script>
<script rel="stylesheet" type="text/javascript" src="{% static 'My97DatePicker/WdatePicker.js'%}"></script>
<script rel="stylesheet" type="text/javascript" src="{% static 'js/checkform.js'%}"></script>
{% endblock content1 %}